@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
 --primary-color :#8FA28A;
 --secondary-color : #C7D3C0;
 --accent-color : #C8A96B;
 --text-color : #F7F4ED;
 --hover-color: #614c21;    
}

.dark{
    --primary-color: #A8B8A3;    
    --secondary-color: #3A3F37;  
    --accent-color: #E0C084;     
    --bg-color: #1A1917;         
    --text-color: #F7F4ED;      
    --hover-color: #E0C084;
  }